QWidget {
    background-color: #08111f;
    color: #ffffff;
}

QFrame#centralCard {
    background-color: transparent;
    border: none;
}

QLabel#title {
    font-size: 70px;
    font-weight: 900;
    color: #ffffff;
    background-color: transparent;
}

QLabel#subtitle {
    font-size: 18px;
    color: #555555;
    letter-spacing: 5px;
    background-color: transparent;
}

QLabel#relogio {
    font-size: 50px;
    font-weight: 200;
    color: #ffffff;
    background-color: transparent;
    margin: 20px;
}

QPushButton {
    background-color: #1d4ed8;
    color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}

QPushButton:hover {
    background-color: #2563eb;
}