
QWidget{
    background:qlineargradient(
        spread:pad,
        x1:0,y1:0,x2:1,y2:0,
        stop:0 #020817,
        stop:0.5 #06142b,
        stop:1 #020817
    );

    font-family:Segoe UI;
    color:white;
}

QFrame#card{
    background:#09152a;
    border-radius:28px;
    min-width:450px;
    padding:35px;
    border:1px solid #132847;
}

QLabel#title{
    font-size:44px;
    font-weight:bold;
    color:white;
}

QLineEdit{
    background:#020817;
    border:2px solid #102748;
    border-radius:16px;
    padding:20px;
    font-size:22px;
    color:white;
    margin-top:10px;
}

QLineEdit:focus{
    border:2px solid #39b8ff;
}

QPushButton{
    border:none;
    border-radius:16px;
    min-height:70px;
    font-size:22px;
    font-weight:bold;
}

QPushButton#continue{
    background:#39b8ff;
    color:black;
}

QPushButton#anonymous{
    background:transparent;
    border:2px solid #11284a;
    color:#7f97b7;
}
